<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q'RICO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'cuentas/css/blog.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
</head>
<body>
<section id="inicio">
    <header>
        <div class="contenido-header">
            <div class="logo">
                <h1>Q'RICO</h1>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="{% url 'index' %}"><i class="fa-solid fa-house"></i><span>Inicio</span></a></li>
                    <li><a href="{% url 'aperitivos' %}"><i class="fa-solid fa-ice-cream"></i><span>Aperitivos</span></a></li>
                    <li><a href="{% url 'comida' %}"><i class="fa-solid fa-utensils"></i><span>Comidas</span></a></li>
                    <li><a href="{% url 'batidos' %}"><i class="fa-solid fa-glass-water"></i><span>Refrescos</span></a></li>
                    <li><a href="{% url 'contacto' %}"><i class="fa-solid fa-comments"></i><span>Contacto</span></a></li>
                    <li><a href="{% url 'blog' %}"><i class="fa-solid fa-blog"></i><span>Blog</span></a></li>
                    <li><a href="{% url 'perfil' %}"><i class="fa-solid fa-user"></i><span>Perfil</span></a></li>
                </ul>
            </nav>
            <div class="social">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-orange">Cerrar Sesión <i class="fa-solid fa-user"></i></a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-orange">Iniciar Sesión <i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
            <div class="nav-responsive" id="bar" onclick="mostrarOcultarMenu()"><i class="fa-solid fa-bars"></i></div>
        </div>
    </header>    

    <main class="container mt-5">
        <h2>Recetas</h2>
        <form method="get" action="{% url 'blog' %}" class="mb-4">
            <div class="row">
                <div class="col-md-3">
                    <select name="categoria" class="form-control">
                        <option value="">Todas las Categorías</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id|stringformat:"s" %}selected{% endif %}>{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-orange">Filtrar</button>
                </div>
            </div>
        </form>
        <div class="row">
            {% for receta in recetas %}
                <div class="col-md-4">
                    <div class="card h-100 mb-4">
                        <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ receta.titulo }}</h5>
                            <p class="card-text"><small class="text-muted">Autor: {{ receta.autor.username }} | Fecha: {{ receta.fecha_creacion }}</small></p>
                            <p class="card-text">Ingredientes: {{ receta.ingredientes }}</p>
                            <p class="card-text">Preparación: {{ receta.preparacion }}</p>
                            <p class="card-text">Categoría: {{ receta.categoria.nombre }}</p>
                            <p class="card-text">Valoración: <span id="average-rating-{{ receta.id }}" class="average-rating">{{ receta.valoracion }}</span> estrellas (<span id="total-ratings-{{ receta.id }}" class="total-ratings">{{ receta.total_valoraciones }}</span> valoraciones)</p>
                            {% if user.is_authenticated %}
                                <form id="rating-form-{{ receta.id }}" method="post" action="{% url 'add_rating' receta.id %}">
                                    {% csrf_token %}
                                    <div class="rating">
                                        {% for i in "54321" %}
                                            <input type="radio" id="star-{{ i }}-{{ receta.id }}" name="puntuacion" value="{{ i }}">
                                            <label for="star-{{ i }}-{{ receta.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                                                </svg>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary btn-orange btn-sm">Valorar</button>
                                </form>
                                <form method="post" action="{% url 'add_to_favorites' receta.id %}" class="mt-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary btn-orange btn-sm">Añadir a Favoritos</button>
                                </form>
                            {% else %}
                                <p><a href="{% url 'login' %}">Inicia sesión</a> para valorar y añadir a favoritos.</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <h6>Comentarios</h6>
                            {% for comentario in receta.comentarios.all %}
                                <div class="comentario">
                                    <p><strong>{{ comentario.autor.username }}</strong>: {{ comentario.texto }}</p>
                                    {% if comentario.autor == user %}
                                        <form method="post" action="{% url 'eliminar_comentario' comentario.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-orange btn-sm">Eliminar</button>
                                        </form>
                                        <a href="{% url 'editar_comentario' comentario.id %}" class="btn btn-warning btn-orange btn-sm">Editar</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'add_comment' receta.id %}">
                                    {% csrf_token %}
                                    {{ comentario_form.as_p }}
                                    <button type="submit" class="btn btn-primary btn-orange btn-sm mt-2">Comentar</button>
                                </form>
                            {% else %}
                                <p><a href="{% url 'login' %}">Inicia sesión</a> para comentar.</p>
                            {% endif %}
                        </div>
                        {% if receta.autor == user %}
                            <form method="post" action="{% url 'eliminar_receta' receta.id %}" class="mt-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-orange btn-sm">Eliminar receta</button>
                            </form>
                            <a href="{% url 'editar_receta' receta.id %}" class="btn btn-warning btn-orange btn-sm mt-2">Editar</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <h2 class="mt-5">Añadir nueva receta</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'publicar_receta' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="crear_receta" class="btn btn-orange">Añadir receta</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Inicia sesión</a> para publicar una receta.</p>
        {% endif %}

        {% if user.is_authenticated %}
        <h2 class="mt-5">Añadir Categoria</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'crear_categoria' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="crear_receta" class="btn btn-orange">Añadir Categoria</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Inicia sesión</a> para publicar una receta.</p>
    {% endif %}
    </main>

    <script>
        $(document).ready(function() {
            $('.rating input').on('click', function() {
                var recetaId = $(this).closest('form').attr('id').split('-')[2];
                var puntuacion = $(this).val();
                $('#rating-form-' + recetaId + ' input[name="puntuacion"]').val(puntuacion);
            });

            $('.rating button').on('click', function(event) {
                event.preventDefault();
                var form = $(this).closest('form');
                var recetaId = form.attr('id').split('-')[2];
                var puntuacion = form.find('input[name="puntuacion"]:checked').val();
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: {
                        'puntuacion': puntuacion,
                        'csrfmiddlewaretoken': form.find('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function(response) {
                        $('#average-rating-' + recetaId).text(response.new_rating.toFixed(1));
                        $('#total-ratings-' + recetaId).text(response.total_ratings);
                    },
                    error: function(response) {
                        alert('Error al enviar la valoración');
                    }
                });
            });
        });
    </script>
    
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="{% static 'cuentas/js/script.js' %}"></script>
</body>
</html>
