{% extends "cuentas/base.html" %}

{% block title %}Editar Receta{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Editar Receta</h2>
    {% if perms.cuentas.change_receta %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    {% else %}
        <p>No tienes permiso para editar recetas.</p>
    {% endif %}
</div>
{% endblock %}
