{% extends "cuentas/base.html" %}

{% block title %}Iniciar Sesión - Q'RICO{% endblock %}

{% block content %}
<section id="inicio">
    <div class="container mt-5">
        <div class="formulario">
            <h2 class="text-center">Iniciar Sesión</h2>
            <div class="d-flex justify-content-center">
                <form method="post" class="mx-auto" style="max-width: 400px;">
                    {% csrf_token %}
                    <div class="campo">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" required>
                    </div>
                    <div class="campo">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger mt-3">
                            Nombre de usuario o contraseña incorrectos.
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-orange mt-3 w-100">Iniciar Sesión</button>
                </form>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'olvido_contraseña' %}" class="span">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="text-center mt-2">
                <p class="p">¿No tienes una cuenta? <a href="{% url 'registro' %}" class="span">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
