{% extends "cuentas/base.html" %}

{% block title %}Registro - Q'RICO{% endblock %}

{% block content %}
<section id="inicio">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="formulario p-4 border rounded">
                    <h2 class="text-center mb-4">Registro de Usuario</h2>
                    <form method="post" class="mx-auto">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">
                                <i class="fa-solid fa-user"></i> Nombre de usuario:
                            </label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label">
                                <i class="fa-solid fa-envelope"></i> Correo electrónico:
                            </label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="id_email_confirm" class="form-label">
                                <i class="fa-solid fa-envelope"></i> Confirmar correo electrónico:
                            </label>
                            {{ form.email_confirm }}
                        </div>
                        <div class="mb-3">
                            <label for="id_password1" class="form-label">
                                <i class="fa-solid fa-lock"></i> Contraseña:
                            </label>
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            <label for="id_password2" class="form-label">
                                <i class="fa-solid fa-lock"></i> Confirmar contraseña:
                            </label>
                            {{ form.password2 }}
                        </div>
                        <button type="submit" class="btn btn-orange mt-3 w-100">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
