/* Establece reglas para todos los elementos del documento */
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand'; /* Establece la fuente para todo el documento */
}

html {
    scroll-behavior: smooth; /* Añade un desplazamiento suave al hacer clic en enlaces internos */
}

/* SECCION INICIO */
#inicio {
    height: 100vh; /* Establece la altura al 100% del viewport */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}

#inicio header .contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}

#inicio header .contenido-header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#inicio header .contenido-header nav ul {
    display: flex;
    list-style: none;
}

#inicio header .contenido-header .logo {
    color: #ff8f46;
    font-size: 22px;
}

#inicio header .contenido-header nav ul li {
    text-align: center;
}

#inicio header .contenido-header nav ul li i {
    display: block;
    color: #a8a8a8;
    margin-bottom: 10px;
}

#inicio header .contenido-header nav ul li a {
    display: block;
    text-decoration: none;
    color: #a8a8a8;
    margin: 0px 20px;
}

#inicio header .contenido-header nav ul li:hover i {
    color: #ff8f46;
}

#inicio header .contenido-header .social a {
    display: inline-block;
    background-color: #ff8f46;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

#inicio header .contenido-header .social > i {
    display: inline-block;
    color: #a8a8a8;
    margin-left: 10px;
}

.nav-responsive {
    display: none;
    font-size: 25px;
    color: #a8a8a8;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .derechos {
    margin: 0;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #ff8f46;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilos para el contenido del encabezado */
.contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilo para el enlace del logo */
#logo {
    color: black; /* Color negro para el texto del logo */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

#logo:hover {
    color: black; /* Mantén el color negro incluso cuando se pasa el cursor sobre el enlace */
}

/* Estilos para el texto del logo */
.logo h1 {
    margin: 0;
}

/* Estilos para el formulario de contacto */
.formulario {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para los campos del formulario */
.campo {
    margin-bottom: 20px;
    position: relative;
}

/* Estilos para los íconos dentro de los campos */
.campo i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #888;
}

/* Estilos para los campos de entrada */
input,
textarea {
    padding: 10px;
    padding-left: 30px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de enviar */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff8f46;
}

/* Estilos para el mensaje de error o información */
#respuesta {
    color: red;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el modal de confirmación */
.modal {
    display: none; /* Escondido por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* En frente de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Color de fondo con opacidad */
}

/* Contenido del modal */
.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del 80% */
    max-width: 300px; /* Ancho máximo */
    text-align: center; /* Centrar el texto */
    border-radius: 5px;
}

#cerrar-modal {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#cerrar-modal:hover {
    background-color: #ff8f46;
}


/* SECCION RESPONSIVE */
@media screen and (max-width: 1070px) {
    #inicio header .contenido-header .social {
        display: none;
    }
    #inicio header .contenido-header nav {
        position: static;
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px) {
    #sabores .fila {
        display: block;
    }
    #inicio header .contenido-header nav {
        position: initial;
        display: none;
        transform: translate(0);
    }
    .nav-responsive {
        display: block;
    }
    #inicio header .contenido-header {
        padding: 20px;
    }
}

